<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="ExcelDna.Integration" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener, ExcelDna.Integration">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical,Error"/>
          </add>
          <add name="###" type="RtdMinimal.ExcelDnaLogListener, RtdMinimal">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical,Error,Warning,Information,Verbose"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
